flask
flask-cors
flask-login
flask-sqlalchemy
flask-migrate
python-dotenv
requests
beautifulsoup4
openai
yt-dlp
pytesseract
Pillow
boto3
gunicorn
psycopg2-binary
Werkzeug
itsdangerous
email-validator
Flask-Limiter
Flask-Caching
tqdm
loguru
validators
